@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins';
  user-select: none;
}
body{
  /* width: 100%;
  height: 100vh; */
  background: linear-gradient(to right, #99004d 0%, #ff0080 100%);
}
.cantainer{
  width: 100%;
  height: 100vh;
display: flex;
flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav{
  height: 540px;
  width: 340px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 1px 2px 12px rgb(108, 108, 108);
  position: relative;
}
.nav h3{
  font-size:1.9rem;
  font-weight: 600;
  text-align: start;
  padding: 60px 50px 0px 50px;
}
.nav h3::before{
  content: "";
  position: absolute;
  top: 17.5%;
  left: 2.8rem;
  display: inline-block;
  height: 4px;
  width: 35px;
  background: linear-gradient(to right, #99004d 0%, #ff0080 100%);

}
input{
  margin-top: 0.4em;
  padding:1.5rem 1.5rem 0.4rem 1.5rem;
  border: none;
  outline: none;
}
input::placeholder{
  font-size: 15px;

}
.line1{
 display: inline-block;
  height: 2px;
  margin-left: 20px;
  width: 280px;
  background-color: grey;
  transition: transform 500s ease-in-out;
}
.line1::before{
  content: '';
  display: inline-block;

}
.line2{
 display: inline-block;
  height: 2px;
  margin-left: 20px;
  width: 280px;
  background-color: grey;
  transition: transform 500s ease-in-out;
}
.line2::before{
  content: '';
  display: inline-block;

}
.continue{
  color: white;
  border: none;
  font-weight: 500;
  border-radius: 6px;
  font-size: 16px;
    background: linear-gradient(to right, #99004d 0%, #ff0080 100%);
  padding: 0.7em 6.5em;
  margin-left: 25px;
  /* transition: transform 500ms ease-in-out; */
}
.continue:hover{
  background: linear-gradient(to left, #99004d 0%, #ff0080 100%);
}
.continue .text {
  display: inline-block;
  transition: transform 0.3s ease;
}

.continue:hover .text {
  transform: scalex(1.1); /* Scale up text */
}

p{
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  padding-top: 10px;
}

.twitter{
  padding: 0.8em 5.8em;
    margin:15px 25px;
    background: #1DA1F2;
    border: none;
    color: white;
    border-radius: 6px;
}
.twitter .twitext {
  display: inline-block;
  transition: transform 0.3s ease;
}

.twitter:hover .twitext {
  transform: scalex(1.010); /* Scale up text */
}
.facebook{
  padding: 0.9em 5.2em;
    margin:15px 25px;
    background: #4267B2;
    border: none;
    color: white;
    border-radius: 6px;
}
.facebook .factext {
  display: inline-block;
  transition: transform 0.3s ease;
}

.facebook:hover .factext {
  transform: scalex(1.010); /* Scale up text */
}

