*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cantainer{
    height: 50vh;
    width: 350px;
    background-color: rgb(58, 66, 179);
    border-radius: 22px;
    margin: 200px auto;
    position: relative;
}
.nav{
    align-items: center;
    padding-top: 10px;
}
.nav h3{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    line-height: 1.2rem;
    padding: 50px;
    text-align: center;

}
.divider{
    height: 3px;
    width: 50px;
    background-color: rgb(176, 172, 172);
    position: relative;
    top: -30px;
    left: 150px;
}
.nav p{
    color: rgb(206, 205, 205);
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 20px;
    text-align: center;
}
input{
    height: 35px;
    width: 250px;
    margin:0px 50px;
    background-color: rgb(21, 30, 83);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
}
input::placeholder{
    color: white;
}
input:focus {
  outline: none; 
  border: 2px solid #3e3592;
}
button{
    height: 35px;
    width: 100px;
    background-color: transparent;
    border: 1.5px solid white;
    border-radius: 9px;
    color: white;
    margin: 20px 130px;
}

