*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cantainer{
    height: 100vh;
    width: 100vw;
    background-color: rgb(11, 11, 67);
    /* margin: 100px auto; */
    /* border-radius: 22px; */
    padding: 40px;
}
.nav{
    height: 300px;
    width: 300px;
    background: linear-gradient(
  45deg,
  #feda75,
  #fa7e1e,
  #d62976,
  #962fbf,
  #4f5bd5
);
border-radius: 60px;
margin:100px  auto;
position: relative;
}
.line{
    height: 220px;
    width: 220px;
    border: 17px solid white;
    border-radius: 50px;
    position: relative;
    top: 42px;
    left: 40px;

}
.circle{
    height: 120px;
    width: 120px;
    border: 19px solid white;
    border-radius: 50%;
    position: relative;
    top: -130px;
    left: 89px;
}
.dot{
    height: 10px;
    width: 10px;
    border: 14px solid white;
    border-radius: 50%;
    position: relative;
    top: -270px;
    left: 199px;
}

    